
    <div id="footer-bottom" style="background:#1c1e1f; width: 62%">
									<p class="copyrights">© Copyright 2013. All Rights Reserved by CHEBL Mahmoud.</p>
									 
		                    </div><!-- footer-bottom -->
						