 <!-- Starting Header of the website -->
 

 
 
                        <header id="header" style="background-color: #fff">

                                <!-- Website Logo Place -->
                                <div id="logo-container">
                                    <a href="" class="logo"  title="Site Logo">
                                        <img src="" alt="Health Press">
                                        <span class="tagline"></span>
                                    </a>
                                </div>
                                                             
                                <ul class="social-nav">                                        
                                    <li class="facebook"><a target="_blank" href="#"></a></li>
                                    <li class="twitter"><a target="_blank" href="#"></a></li>
                                    <li class="skype"><a target="_blank" href="#"></a></li>																	
                                    <li class="flickr"><a target="_blank" href="#"></a></li>																	
                                    <li class="google"><a target="_blank" href="#"></a></li>																
                                    <li class="linkedin"><a target="_blank" href="#"></a></li>															
                                    <li class="rss"><a target="_blank" href="#"></a></li>
                                      
                <li class="phone"><span><a href="">
                         
         
                 
        Déconnexion</span></li>
                
                                		
                                </ul>
                                <nav class="main-nav clearfix">

                                		<!-- MAIN NAVIGATION -->
                                        <div class="menu-div">
                                        	<ul>
                                                     
                                            	<li>
                                                	<a href="">Actualité</a>
                                                    </li>
													<li><a href="">Evénements</a></li>
													 <li>
                                                	<a href="#">Annuaire</a>
                                                    <ul>
                                                        <li><a href="">Médecins</a></li>
                                                        <li><a href="">Pharmacies</a></li>
                                                        <li><a href="#">Autres etablissements</a></li>
                                                       </ul>
                                               </li>
											   <li>
                                                	<a href="">Maladies</a>
                                                    
                                                </li>
                                                <li>
                                                	<a href="">Médicaments</a>
                                                   
                                                </li>
                                                <li>
                                                	<a href="">Blog</a>
                                                </li>
                                                
                                                <li>
                                                	<a href="">Forum</a>
                                                   
                                                </li>
                                                <li>
                                                	<a href="">Contact</a>
                                                   
                                                </li>
                                               
                                               
                                            </ul>
                                        </div>
                                        
                                        <!-- GLOBAL SEARCH -->
                                        <form method="get" action="#" id="topsearch">
                                            <p>
                                                            <input type="text" placeholder="Search" name="s" id="tsearch">
                                                    <input type="submit" id="topsubmit" value="">
                                                </p>
                                        </form>
                                </nav>
                              
     
	
     
     
     

                        </header><!-- ending of header of the website -->